i,em{font-style: normal}
#index_top{
    font-size: 12px;
    padding-bottom: 10px;
    .indexT_cont{
        color:#444;
        clear: both;
        width: 1190px;
        height: 26px;
        line-height: 26px;
        margin: 0 auto;
        background: #f7f7f7;
        padding: 5px;
        a:hover{
            color: #e91456;
            text-decoration: underline;
        }
        .indexT_call{
            width: 230px;
            height: 21px;
            line-height: 21px;
            top: 3px;
            margin: 0 10px 0 0;
            i{
                display: inline-block;
                width: 17px;
                height: 16px;
                background: url(../../imgs/elves_all.fw.png) no-repeat;
                background-position: -130px 0;
                vertical-align: middle;
            }
            span{
                vertical-align: middle;
            }
            .del{
                font-size:14px;
                color: #e91456;
                font-weight: bold;
                vertical-align: middle;
            }
        }
        >ul:nth-child(2){
            >li{
                float: left;
                margin: 0 10px 0 0;
            }
        }
        >ul:last-child{
            li{
                float: left;
                margin-left: 10px;
                color: #e91456;
                    text-decoration: underline;
                }
                a{
                    vertical-align: middle;
                    color: #444;
                }
                a:hover{
                    color: #e91456;
                    text-decoration: underline;
                }
            }
            li:last-child::before{
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(../../imgs/elves_all.fw.png) no-repeat;
                background-position: -180px 0;
                vertical-align: middle;
                margin-right: 4px;
            }
        }
    .index_search{
        clear: both;
        width: 1190px;
        height: 74px;
        line-height: 74px;
        margin: 10px auto 0;
        background: #fff;
        form{
            display: inline-block;
            vertical-align: middle;
            padding-left: 219px;
            input[type="text"]{
                width: 320px;
                height: 30px;
                line-height: 30px;
                padding: 0;
                padding-left: 5px;
                font-size: 12px;
                border: 0;
                color: #777;
                background: #fff;
                border: 1px solid #e21357;
                vertical-align: middle;
            }
            >button{
                margin-left: -6px;
                font-weight: bold;
                box-sizing: content-box;
                padding: 0 12px;
                height: 30px;
                line-height: 30px;
                border: 1px solid #2d88bf;
                font-size: 14px;
                letter-spacing: 1px;
                word-spacing: normal;
                text-align: center;
                cursor: pointer;
                border-color: #e21357;
                background: #e21357;
                color: #fff;
                vertical-align: middle;
            }
            >button::before{
                content: '';
                display: inline-block;
                width: 15px;
                height: 16px;
                background: url(../../imgs/elves_all.fw.png) no-repeat;
                background-position: -240px 0;
                vertical-align: middle;
                margin-right: 2px;
                    }
        }
        img{
            vertical-align: middle;
        }
        >a{
            display: inline-block;
            float: right;
            width: 136px;
            height: 28px;
            line-height: 28px;
            margin: 28px 0 0 0;
            padding: 0 10px;
            border: 1px solid #E8E8E7;
            font-size: 12px;
            color: #444444;
            background: #fff;
            span:first-child{
                display: inline-block;
                width: 16px;
                height: 13px;
                margin-right: 25px;
                background: url(../../imgs/elves_all.fw.png) no-repeat;
                background-position: -290px 0;
                vertical-align: middle;
                position: relative;
                i{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../../imgs/elves_all.fw.png) no-repeat;
                    background-position: -358px 0;
                    position: absolute;
                    right: -15px;
                    top: -7px; 
                    line-height: 16px;
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}
#index_nav{
    width: 1000px;
    height: 34px;
    margin: 0 auto; 
    position: relative;
    .allGoods{
        width:190px;
        float: left;
        position: absolute;
        left:-90px;
        z-index: 100;
        >div{
            height: 36px;
            line-height: 36px;
            padding-left: 10px;
            background: #e91456;
            color: #ffffff;
            z-index: 999999;
            font-weight: bold;
        }
        .goods{
            width: 190px;
            height: 480px;
            background-color: #3B2C33;
            position: relative;
            .good_sort{
                padding: 3px 0 3px 10px;
                >li{
                    >a{
                        display: inline-block;
                        height: 12px;
                        line-height: 12px;
                        font-size: 12px;
                        padding-right: 2px;
                        color: #fff;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
                >li:first-child{
                    >a{
                        display:inline-block;
                        height: 30px;
                        font-size: 14px;
                        line-height: 30px;
                        font-weight: bold;
                    }
                }
                >li:last-of-type{
                    margin-top: -6px;
                }
                .good_detail{
                    position: absolute;
                    width: 570px;
                    height: 480px;
                    background: #fff;
                    left: 190px;
                    top: 0px;
                    padding: 0 10px 0 12px;
                    color: #3B2C33;
                    font-weight: bold;
                    display: none;
                    opacity: 0.9;
                    >li{
                        a{
                            font-family: '微软雅黑';
                            display: inline-block;
                            height: 30px;
                            line-height: 30px;
                            font-size: 12px;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                        a::after{
                            content: ' >';;
                        }
                    }
                }
            }
            .good_sort:hover{
                background: #fff;
                a{
                  color: #3B2C33; 
                }
                .good_detail{
                    display: block;
                }
            }
        }
    }
    >ul{
        margin-left: 100px;
        >li{
            height: 36px;
            float: left;
            line-height: 36px;
            a{
                display: inline-block;
                font-family: "Microsoft Yahei";
                font-size: 17px;
                font-weight: 600;
                color: rgb(68,68,68);
                vertical-align: middle;
            }
            a:hover{
                color: #e91456;
            }
        }
        >li:nth-child(2n){
            a{
                padding: 0 20px;
            }
        }
        >li:nth-child(n){
            font-size:12px;
            color: #ccc;
            vertical-align: middle;
        }
        >li:nth-child(1){
            padding-left: 6px;
        }
    }
    >.hotLink{
        height: 34px;
        margin-right: 100px;
        color: #000;
        font-weight: bold;
        font-size: 12px;
        line-height: 34px;
        >span{
            color:#E91456;
        }
    }
    .books{
        width: 190px;
        height: 480px;
        background: #fff;
        position: absolute;
        z-index: 200;
        right: 0;
        top: 36px;
        text-align: center;
        font-family: "微软雅黑";
        font-size: 12px;
        color: #444444;
        font-size: 0;
        >h2:first-child{
            height: 43px;
            line-height: 43px;
            font-size: 16px;
            color: #e91456;
            font-weight: bold;
        }
        .books_times{
            display: inline-block;
            margin-bottom: 10px;
        }
        a{
            img{
                width: 175px;
                height: 175px;
                font-size: 0;
            }
        }
        .proName{
            padding-top: 15px;
            a{
                width: 180px;
                display: inline-block;
                padding: 5px;
                font-size: 12px;
                color: #444;
                text-overflow: ellipsis;
                white-wrap: nowrap;
                overflow: hidden;
            }
            a:hover{
                color: #e91456;
                text-decoration: underline;
            }
        }
        .proPrice{
            margin-top: 10px;
            color: #e91456;
            font-size: 20px;
        }
        .proPrice::before{
            content: '￥';
        }
        .proPrice::after{
            content: '.00';
        }
        h2:last-child{
            display: inline-block;
            height: 43px;
            line-height: 43px;
            font-size: 16px;
            color: #e91456;
            font-weight: bold;
            border-top: 1px solid #E8E8E7;
            position: absolute;
            left: 18px;
            bottom: 10px;
        }
    }
}
#index_banner{
    height: 480px;
    border-top: 2px solid #e91456;
    position: relative;
    ul{
        position:relative;
        height: 480px;
        width: 100%;
        li{
            width: 100%;
            height: 480px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all 1s;
            a{
                display: inline-block;
                height: 480px;
                width: 100%;
            }
        }
        li:first-child{
            opacity: 1;
            a{
                background: url(../../imgs/banner01.jpg) no-repeat center center;
                background-size: cover;
            }
        }
        li:nth-child(2){
            a{
                background: url(../../imgs/banner02.jpg) no-repeat center center;
                background-size: cover;
            }
        }
        li:last-child{
            a{
                background: url(../../imgs/banner03.jpg) no-repeat center center;
                background-size: cover;
            }
        }
    }
    .subBox{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-bottom: 8px;
        transform: translate(-50%,0);
        z-index: 100;
        a{
            display: inline-block;
        }
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 15px;
            background-color: #000;
            
            font-size:12px;
            line-height: 20px;
            color: #fff;
            text-align: center;
        }
        .sub_active{
           background-color: #EA1454; 
        }
    }
}
//各个模块的scss
#index_cloths,#index_cosmetics,#index_food_health,#index_household{
    min-width: 1190px;
    height: 572px;
    font-size: 12px;
    color: #444;
    .good_title::before{
        content: '';
        display: inline-block;
        width: 34px;
        height: 34px;
        background: url(../../imgs/elves_all.fw.png) no-repeat;
        background-position: 0 -40px;
        vertical-align: middle;
    }
    .good_title{
        width: 1190px;
        margin: 0 auto;
        >a{
            display: inline-block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
        }
    }
    .good_main{
        width: 1190px;
        margin: 0 auto;
        div{
            width: 190px;
            >ul{
                padding :0 5px 10px 10px;
                background: #fdf4f7;
                li{
                    a{
                        display: inline-block;
                        width: 31%;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
            .middle_show{
                height: 390px;
                a{
                    display: inline-block;
                    width: 190px;
                    height: 390px;
                }
            }
        }
        >.large_show{
            width: 386px;
            height: 520px;
            a{
                display: inline-block;
                width: 386px;
                height: 520px;
            }
        }
        >.small_show{
            width: 579px;
            height: 520px;
            >li{
                float: left;
                width: 167px;
                height: 248px;
                padding: 5px;
                margin-left: 14px;
                border: 1px solid #F8F8F8;
                position: relative;
                img{
                    width: 167px;
                    height: 167px;
                }
                >.proName{
                    padding: 4px;
                    >a{
                        font-size: 12px;
                        color: #444444;
                        font-family: "微软雅黑";
                    }
                    >a:hover{
                        color: #e91456;
                        text-decoration: underline;
                    }
                }
                >.proPrice{
                    font-size: 14px;
                    color: #e91456;
                    padding: 3px;
                    position: absolute;
                    bottom: 0;
                }
                >.proPrice::before{
                    content: '￥';
                }
            }
            >li:hover{
                border: 1px solid #E8E8E7;
            }
        }
    }
    a:hover{
        color: #e91456;
        text-decoration: underline;
    }
}
#index_cosmetics{
    height: 676px;
    .good_title::before{
        content: '';
        background: url(../../imgs/elves_all.fw.png) no-repeat;
        background-position: -70px -40px;
    }
    >.ximenzi{
        display: block;
        width: 1190px;
        height: 88px;
        margin: 0 auto;
        background: url(../../imgs/ximenzi.jpg);
        margin-top: 18px;
        background-size: contain;
    }
}
#index_food_health{
    .good_title::before{
        content: '';
        background: url(../../imgs/elves_all.fw.png) no-repeat;
        background-position: -140px -40px;
    }
}
#index_household{
    .good_title::before{
        content: '';
        background: url(../../imgs/elves_all.fw.png) no-repeat;
        background-position: -210px -40px;
    }
}

#index_hot,#index_hot_sell{
    width: 1190px;
    height: 384px;
    margin: 0 auto;
    .index_hot_title{
        >a{
            display: inline-block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
        }
        >a:hover{
            color: #e91456;
            text-decoration: underline;
        }
    }
    .index_hot_fixed{
        float: left;
        >a{
            display: inline-block;
        }
    }
    .index_hot_show{
        height: 330px;
        width: 998px;
        position: relative;
        >li{
            list-style: none;
            float: left;
            width: 228px;
            height: 328px;
            position: relative;
            margin-left: 15px;
            border: 1px solid #F8F8F8;
            background: #fff;
            >a{
                display: inline-block;
                font-size: 0;
                >img{
                    width: 228px;
                    height: 228px;
                }
            }
            >.proName{
                padding: 4px;
                margin-top: 10px;
                >a{
                    font-size: 12px;
                    color: #444444;
                    font-family: "微软雅黑";
                }
                >a:hover{
                    color: #e91456;
                    text-decoration: underline;
                }
            }
            >.proPrice{
                font-size: 14px;
                color: #e91456;
                padding: 3px;
                position: absolute;
                bottom: 0;
            }
            >.proPrice::before{
                content: '￥';
            }
            >span{
                display: block;
                color: #e91456;
                padding: 5px;
                font-size: 12px;
                text-align: center;
            }
            >span:nth-child(2){
                width: 30px;
                height: 36px;
                background: url(../../imgs/elves_all.fw.png) no-repeat;
                background-position: -130px -180px;
                position: absolute;
                line-height: 36px;
                left: 10px;
                color: #ffffff;
                padding: 0;
            }
        }
        >li:hover{
            border: 1px solid #E8E8E7;
        }
    }
}
#index_hot{
    .index_hot_show{
        >.hot_yes_item{
            position: absolute;
            z-index: -100;
        } 
    }
}
#login_foot{
    margin:0;margin-top:20px;background:#fff;font-family:"微软雅黑";font-size:14px;
    .f_help{
        overflow:hidden;padding:10px 0;
        .f_h_content{
            width:1200px;margin:0 auto;
            .f_2d{
                float:left;width:123px;height:123px;background:url(../../imgs/login_code.jpg) no-repeat scroll 0 0;text-indent:-9999px;overflow:hidden;margin-right:20px;margin-top:13px;display:inline;
            }
            .f_help_list{
                float:left;margin-left:30px;border:1px solid #ccc;border-bottom:none;border-top:none;padding-left:20px;display:inline;
                .f_h_list{
                    float:left;width:100px;margin:0 20px;display:inline;
                    strong{display:block;height:30px;width:120px;line-height:30px;font-size:14px;}
                    a{display:block;height:30px;width:120px;line-height:30px;font-size:12px;color:#444;}
                    a:hover{
                        color: #e91456;
                        text-decoration: underline;
                    }
                }
            }
            .call_rz{float:right;width:260px;height:65px;margin-top:35px;background:url(../../imgs/login_call.jpg) no-repeat scroll 0 0;text-indent:-9999px;overflow:hidden;}
        }
    }
    .foot_sv{
        height:46px;margin:0 0 10px 0;
        .sv_con{width:1200px;height:46px;overflow:hidden;margin:0 auto;background:url(../../imgs/foot_info.jpg) no-repeat scroll 0 0;text-indent:-9999px;overflow:hidden;}
    }
    .foot_txt{
        height:150px;margin:0 auto;overflow:hidden;background:#F8F8F8;
        a{font-size:12px;color:#444;}
        a:hover{
            color: #e91456;
            text-decoration: underline;
        }
        p{line-height:35px;text-align:center;color:#999;}
        .rz{height:42px;width:100%;overflow:hidden;}
        .rza{margin:0;padding:0;}
        .rzimg{ margin:0 10px;}
        .aboutMe{font-size:12px;}
    }
}